:root{
    --color: #131210;
    --color1: #666666;
    --color2: #3A3A1A;
    --color3: #65652C;
    --color4: #8F8F3F;
    --color5: #BABA51;
    --color6: #E4E464;
    --color7: #0c0d0c;
    --color8: #202220;
    --color9: #ffd700; /* Gold*/
    --color10: #F0C800; /* Gold*/
    --color11: #E1B900; /* Gold*/
    --color12: #FFE60F; /* Gold*/
     /*---color13:;
    -coloк14: #202220;
    --color15: #202220; */
    --color16: #fff;
}

.font-famili-inter{
    font-family: 'Inter', sans-serif;
}
.font-famili-kalnia{
    font-family: 'Kalnia', serif;
}
.font-famili-open-sans{
    font-family: 'Open Sans', sans-serif;
}

html body{
    font-family: 'Open Sans', sans-serif;
}

section{
    padding: 100px 0;
}

.navbar-logo{
    fill: var(--color12);
}

.navbar-background-color,
.home, .about, .services, .my-portfolio{
    background: var(--color8);
} 


.navbar-text-color{
    color: var(--color9);
}
.navbar-text-color:hover{
    color: var(--color6);
}

.header-text{
    background: linear-gradient(180deg, var(--color10), var(--color11), var(--color12), var(--color9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--color9);
    font-size: 64px;
}

.contact-box{
    border: 1px solid var(--color);
    background: var(--color);
}

 .button-learn-more{
    background: linear-gradient(180deg, var(--color9) 25%, var(--color10));
    border: 1px solid var(--color11);
    color: var(--color16);
}

.button-learn-more:hover{
    color: var(--color16);
    background: linear-gradient(90deg, var(--color10), var(--color11), var(--color12), var(--color9));
}

.button-learn-more:active{
    box-shadow: 1px 1px 2px 1px var(--color7),
    1px 1px 8px 2px var(--color8), 
    1px 1px 16px 4px var(--color11);
    border: 1px solid var(--color7);
    color: var(--color16);
}

.container-services{
    border: 1px solid var(--color12);
}

.text-services{
    background: linear-gradient(180deg, var(--color10), var(--color11), var(--color12), var(--color9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--color9);
}

.services-icon{
    fill: var(--color11);
}

.images-container{
    /* border: 1px solid #666666;
    background: #666666; */
}

.foto{
    /* box-shadow: 1px 2px 40px 10px var(--color7); */
    filter: drop-shadow(1px 2px 40px 10px var(--color11));
    border: 25px solid;
}
.images-top{
    filter: drop-shadow(1px 2px 5px  var(--color8));
}