:root{
    --background-color: rgba(109, 104, 117);
    --text: rgba(243, 219, 206, 0.8078);
    --nav-transform: rgba(255, 205, 178, 1);   
    --ht-text-button: rgba(255, 180, 162, 1);
    --button-background:rgba(229, 152, 155, 0.5451);
    --elements: rgba(181, 131, 141, 1);
}

body{
    background-color: var(--background-color);
}

.nav-text-color{
    color: var(--text);
}

.nav-text-color:hover{
    color: var(--nav-transform);
    border-bottom: 1px solid var(--nav-transform);
    
}
